body{
	background:#dfffff;
	font:14px/18px Arial, Helvetica, sans-serif;
	margin:0;
	color:#333;
}
a{
	text-decoration:underline;
	color:#f00;
}
a:hover{text-decoration:none;}
#wrapper{
	max-width:950px;
	margin:0 auto;
}
#header{
	padding:20px;
	background:#ff0;
	border-radius:10px;
	text-align:center;
	margin:0 0 40px;
}
h1, h2, p{margin:0 0 20px;}
#footer{
	background:#00f;
	color:#fff;
	border-radius:10px;
	padding:20px;
	text-align:right;
}
form input[type="text"]{
	border:1px solid #000;
	background:#ff0;
	color:#000;
	padding:5px 10px;
	font-size:12px;
}
form button[type="button"]{
	background:#fd0;
	border:1px solid #ff0;
	/* color:#000; */
	height:24px;
	display:inline-block;
	vertical-align:middle;
	border-radius:6px;
	cursor:pointer;
	color:#000;
}