.btn{
	background: transparent;
	font-size: 14px;
	line-height: 24px;
	color: #2e343e;
	display: inline-block;
	padding: 10px 60px;
	text-align: center;
	border-radius: 3px;
	font-weight: bold;
	border: 2px solid #cccdd0;
}
