$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);
@import '../../assets/vendors/include-media';
@import '../../assets/base/variables';
@import '../../assets/base/helpers';

section{
	padding: 20px 0;
	@include media(">=desktop") {
		padding: 0;
	}
}
.heading{
	text-align: center;
	margin: 0 0 20px;
	@include media(">=desktop") {
		text-align: left;
		margin: 0 0 65px;
	}
	h2{
		font-size: 26px;
		line-height: 1.08;
		margin: 0;
	}
	p{
		margin: 0 0 10px;
	}
}
article{
	text-align: center;
	@include media(">=desktop") {
		display: flex;
		justify-content: space-between;
		text-align: left;
		align-items: center;
	}
	h1{
		font-size: 28px;
		line-height: 1.25;
		color: #2e343e;
		a{
			color: $black;
			&:hover{
				color: $green;
			}
		}
	}
	p{

	}
	.date{
		display: block;
		font-size: 16px;
		line-height: 24px;
		color: #9f9f9f;
		margin: 0 0 15px;
	}
}

.img-holder{
	margin: 0 0 15px;
	@include media(">=desktop") {
		flex-shrink: 0;
		margin: 0 50px 0 0;
	}
	img{
		vertical-align: top;
		max-width: 100%;
	}
}
.carousel{
	position: relative;
	-webkit-transition:all 0.3s linear;
		-o-transition:all 0.3s linear;
		transition:all 0.3s linear;
		padding-bottom: 50px;
	@include media(">=desktop") {
		padding: 0 40px;
	}
	@include media(">=widescreen") {
		padding: 0;
	}
	.slideset{
		overflow: hidden;
		// background:#f00;
		position: relative;
		-webkit-transition:all 0.3s linear;
		-o-transition:all 0.3s linear;
		transition:all 0.3s linear;
	}
	.slide{
		top: 0;
			left: 0;
			width: 100%;
		&.prev{
			// position: absolute;
			
		}
		&.current{
		}
	}
}
.btn{
	background: $green;
	border-color: transparent;
	color: $white;
	min-width: 205px;
	@include media("<desktop") {
		min-width: 260px;
	}
	&:hover{
		background: $white;
		color: #2e343e;
		border-color: #cccdd0;
	}
}
.carousel-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	width: 40px;
	height: 40px;
	background:#e2e2e2;
	border-radius: 100%;
	color: $white;
	font-size: 40px;
	@include media("<desktop") {
		display: none;
	}
	&.btn-next{
		right:-20px;
		@include media(">=widescreen") {
			right: -65px;
		}
	}
	&.btn-prev{
		left: -20px;
		@include media(">=widescreen") {
			left: -65px;
		}
	}
}

.switcher{
	@extend %listreset;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	@include media(">=desktop") {
		display: none;
	}
	li{
		margin: 0 5px;
		display: block;
		width: 18px;
		height: 18px;
		border: 1px solid $green;
		background:$white;
		border-radius: 100%;
		transition:background 0.3s linear;
		&.active{
			background:$green;
		}
	}
}
