@import '../../assets/styles';
:host{
  display: block;
}
ul{
  margin: 0;
  padding: 20px;
  background: #aaa;
  list-style: none;
}
section{
  // display: flex;
}
article{
  margin: 0 20px;
  width: 50%;
}
button{
  min-width: 150px;
}
.items{
  display: flex;
  align-items: flex-start;
  .post{
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #f00;
    background: #aaa;
  }
}