<div class="container">
  <h1>Open Closes</h1>
  <hr>
  <section class="items">
    <article>
      <h2>Single Slide</h2>
      <button (click)="showSlideIs = !showSlideIs">click</button>
      <div @slideEffect *ngIf="showSlideIs">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ad voluptate quam aperiam voluptatum! Quaerat omnis eum praesentium, voluptatibus suscipit molestias voluptate ipsam veritatis tempore laborum placeat deserunt? Veritatis, a.</li>
          <li>Repellat modi quam, numquam minus delectus commodi odit? Sint non voluptates minima, delectus quibusdam. Architecto hic beatae cupiditate consequatur placeat, eaque nisi quam voluptatem, nobis laboriosam nesciunt perferendis officia laudantium.</li>
          <li>Suscipit architecto temporibus fugiat atque ad, sed sapiente dicta officiis aliquid sequi nulla tenetur totam. Quisquam quam ipsam tempora cum facilis hic aliquam, numquam, dicta harum cupiditate officia, magni aperiam!</li>
          <li>Deleniti tempore veritatis quia veniam sunt nesciunt minima fugit, officiis, earum eligendi fugiat accusantium. Assumenda explicabo ea illum inventore provident velit dolor, minima incidunt a, voluptatibus, delectus temporibus nulla id.</li>
        </ul>
      </div>
    </article>
    <article>
      <h2>Single Fade</h2>
       <button (click)="showFadeIs = !showFadeIs">click</button>
      <div @fadeEffect *ngIf="showFadeIs">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ad voluptate quam aperiam voluptatum! Quaerat omnis eum praesentium, voluptatibus suscipit molestias voluptate ipsam veritatis tempore laborum placeat deserunt? Veritatis, a.</li>
          <li>Repellat modi quam, numquam minus delectus commodi odit? Sint non voluptates minima, delectus quibusdam. Architecto hic beatae cupiditate consequatur placeat, eaque nisi quam voluptatem, nobis laboriosam nesciunt perferendis officia laudantium.</li>
          <li>Suscipit architecto temporibus fugiat atque ad, sed sapiente dicta officiis aliquid sequi nulla tenetur totam. Quisquam quam ipsam tempora cum facilis hic aliquam, numquam, dicta harum cupiditate officia, magni aperiam!</li>
          <li>Deleniti tempore veritatis quia veniam sunt nesciunt minima fugit, officiis, earum eligendi fugiat accusantium. Assumenda explicabo ea illum inventore provident velit dolor, minima incidunt a, voluptatibus, delectus temporibus nulla id.</li>
        </ul>
      </div>
    </article>
  </section>
  <hr>
  <section>
    <h2>Open Close in the *ngFor</h2>
    <div class="items">
      <article class="post" *ngFor="let item of data; let i = index">
        <h3>{{item.title}}</h3>
        <button (click)="item.flag = !item.flag">more</button>
        <div @slideEffect *ngIf="item.flag">
          <p *ngFor="let paragraph of item.text">{{paragraph}}</p>
        </div>
      </article>
    </div>
  </section>
</div>